@charset "UTF-8";
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/themes/application/images/app/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/themes/application/images/app/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/themes/application/images/app/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/themes/application/images/app/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/themes/application/images/app/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("/themes/application/images/app/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
#fancybox-thumbs {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 8050;
}

#fancybox-thumbs.bottom {
  bottom: 2px;
}

#fancybox-thumbs.top {
  top: 2px;
}

#fancybox-thumbs ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

#fancybox-thumbs ul li {
  float: left;
  padding: 1px;
  opacity: 0.5;
}

#fancybox-thumbs ul li.active {
  opacity: 0.75;
  padding: 0;
  border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
  opacity: 1;
}

#fancybox-thumbs ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
  outline: none;
}

#fancybox-thumbs ul li img {
  display: block;
  position: relative;
  border: 0;
  padding: 0;
  max-width: none;
}

/** /!!! core css Should not edit !!!/**/
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}

.lightSlider {
  overflow: hidden;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.lSSlideWrapper > .lightSlider:after {
  clear: both;
}

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}

.lSSlideWrapper .lSFade {
  position: relative;
}

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}

.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca;
}

.lSSlideOuter .media {
  opacity: 0.8;
}

.lSSlideOuter .media.active {
  opacity: 1;
}

/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
  opacity: 0.7;
  overflow: hidden;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("../img/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSAction > a:hover {
  opacity: 1;
}

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}

.lSAction > a.disabled {
  pointer-events: none;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* vertical */
.lSSlideOuter.vertical {
  position: relative;
}

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left;
}

.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
  -o-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #e0e0e0;
}

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #c2c2c2;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #919191;
}

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

/*************** SIMPLE OUTER SCROLLBAR ***************/
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-outer > .scroll-element {
  background-color: #ffffff;
}

.scrollbar-outer > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px;
}

.scrollbar-outer > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.scrollbar-outer > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
}

.scrollbar-outer > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}

.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}

/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none;
}

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #6C6E71;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%;
}

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px;
}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 7px;
}

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px;
}

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px;
}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px;
}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px;
}

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px;
}

/*************** SCROLLBAR LIGHT ***************/
.scrollbar-light > .scroll-element,
.scrollbar-light > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-light > .scroll-element {
  background-color: #ffffff;
}

.scrollbar-light > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-light > .scroll-element .scroll-element_outer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #dbdbdb;
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi*/
  /*8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2*/
  /*VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaW*/
  /*VudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2*/
  /*Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMC*/
  /*UiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD*/
  /*0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdm*/
  /*c+);*/
  background: -moz-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dbdbdb), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -o-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: linear-gradient(to right, #dbdbdb 0%, #e8e8e8 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.scrollbar-light > .scroll-element.scroll-x {
  bottom: 0;
  height: 17px;
  left: 0;
  min-width: 100%;
  width: 100%;
}

.scrollbar-light > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 17px;
}

.scrollbar-light > .scroll-element .scroll-bar {
  background: #fefefe;
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi*/
  /*8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2*/
  /*VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaW*/
  /*VudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2*/
  /*Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMC*/
  /*UiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD*/
  /*0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdm*/
  /*c+);*/
  background: -moz-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fefefe), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -o-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: linear-gradient(to right, #fefefe 0%, #f5f5f5 100%);
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-light > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px;
}

.scrollbar-light > .scroll-content.scroll-scrollx_visible {
  top: -17px;
  margin-top: 17px;
}

.scrollbar-light > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 0px;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  left: 0px;
  min-height: 10px;
  width: 10px;
}

.scrollbar-light > .scroll-element.scroll-x .scroll-element_outer {
  height: 12px;
  left: 2px;
  top: 2px;
}

.scrollbar-light > .scroll-element.scroll-x .scroll-element_size {
  left: -4px;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  top: 2px;
  width: 12px;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px;
}

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px;
}

.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px;
}

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px;
}

/*************** SCROLLBAR RAIL ***************/
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-rail > .scroll-element {
  background-color: #ffffff;
}

.scrollbar-rail > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-rail > .scroll-element .scroll-element_size {
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar-rail > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  min-width: 100%;
  padding: 3px 0 2px;
  width: 100%;
}

.scrollbar-rail > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  padding: 0 2px 0 3px;
  right: 0;
  top: 0;
  width: 12px;
}

.scrollbar-rail > .scroll-element .scroll-bar {
  background-color: #d0b9a0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* scrollbar height/width & offset from container borders */
.scrollbar-rail > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px;
}

.scrollbar-rail > .scroll-content.scroll-scrollx_visible {
  margin-top: 17px;
  top: -17px;
}

.scrollbar-rail > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 1px;
}

.scrollbar-rail > .scroll-element.scroll-y .scroll-bar {
  left: 1px;
  min-height: 10px;
  width: 10px;
}

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer {
  height: 15px;
  left: 5px;
}

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size {
  height: 2px;
  left: -10px;
  top: 5px;
}

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer {
  top: 5px;
  width: 15px;
}

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size {
  left: 5px;
  top: -10px;
  width: 2px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -25px;
}

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -25px;
}

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -25px;
}

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -25px;
}

/*************** SCROLLBAR DYNAMIC ***************/
.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-dynamic > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
  bottom: 2px;
  height: 7px;
  left: 0;
  min-width: 100%;
  width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 7px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
  opacity: 0.3;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_size {
  background-color: #cccccc;
  opacity: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.scrollbar-dynamic > .scroll-element .scroll-bar {
  background-color: #6c6e71;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
  bottom: 0;
  height: 7px;
  min-width: 24px;
  top: auto;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  left: auto;
  min-height: 24px;
  right: 0;
  width: 7px;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
  bottom: 0;
  top: auto;
  left: 2px;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -ms-transition: height 0.2s;
  transition: height 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
  left: auto;
  right: 0;
  top: 2px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size {
  left: -4px;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px;
}

.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px;
}

/* hover & drag */
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
  opacity: 1;
}

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
  height: 20px;
  min-height: 7px;
}

.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 20px;
}

/*************** SCROLLBAR GOOGLE CHROME ***************/
.scrollbar-chrome > .scroll-element,
.scrollbar-chrome > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-chrome > .scroll-element {
  background-color: #ffffff;
}

.scrollbar-chrome > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-chrome > .scroll-element .scroll-element_track {
  background: #f1f1f1;
  border: 1px solid #dbdbdb;
}

.scrollbar-chrome > .scroll-element.scroll-x {
  bottom: 0;
  height: 16px;
  left: 0;
  min-width: 100%;
  width: 100%;
}

.scrollbar-chrome > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 16px;
}

.scrollbar-chrome > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.scrollbar-chrome > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
  border-color: #a9a9a9;
}

.scrollbar-chrome > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
  border-color: #7e7e7e;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-chrome > .scroll-content.scroll-scrolly_visible {
  left: -16px;
  margin-left: 16px;
}

.scrollbar-chrome > .scroll-content.scroll-scrollx_visible {
  top: -16px;
  margin-top: 16px;
}

.scrollbar-chrome > .scroll-element.scroll-x .scroll-bar {
  height: 8px;
  min-width: 10px;
  top: 3px;
}

.scrollbar-chrome > .scroll-element.scroll-y .scroll-bar {
  left: 3px;
  min-height: 10px;
  width: 8px;
}

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_outer {
  border-left: 1px solid #dbdbdb;
}

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_track {
  height: 14px;
  left: -3px;
}

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_size {
  height: 14px;
  left: -4px;
}

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_outer {
  border-top: 1px solid #dbdbdb;
}

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_track {
  top: -3px;
  width: 14px;
}

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
  width: 14px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px;
}

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px;
}

.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px;
}

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title-main,
.title-main a,
.title-main span {
  margin: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 29px;
  line-height: 34px;
  color: #6c6c6c;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-main a:hover {
  text-decoration: underline;
}

.text-main {
  font-family: Arial;
  font-size: 17px;
  line-height: 25px;
  color: #707070;
}

.a-main {
  font-family: Verdana;
  font-size: 18px;
  line-height: 20px;
  color: #3dbacf;
  text-decoration: underline;
}

.a-main:hover {
  text-decoration: none;
}

.table-main {
  width: 100%;
  background: #f9f5f5;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #707070;
}

.table-main td {
  padding: 15px 25px;
  vertical-align: middle;
}

.table-main td:nth-child(even) {
  text-align: right;
  min-width: 150px;
}

.table-main tr:nth-child(even) td {
  background: #fffbfb;
}

.table-main tr:hover td {
  background: #3dbacf;
  color: #00519d;
}

.js-popup-img-overlay {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.js-popup-img-overlay:hover:before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("/themes/application/images/app/ico-loupe-white-46x45.png") 50% 50% no-repeat, rgba(61, 186, 207, 0.8);
  z-index: 2;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: "OpenSans-light-wf";
  src: url("/themes/application/fonts/opensans-light.ttf");
}
@font-face {
  font-family: "OpenSans-lold-wf";
  src: url("/themes/application/fonts/spensans-bold.ttf");
}
@font-face {
  font-family: "OpenSans-semibold-wf";
  src: url("/themes/application/fonts/opensans-semibold.ttf");
}
@font-face {
  font-family: "OpenSans-extrabold-wf";
  src: url("/themes/application/fonts/opensans-extrabold.ttf");
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
}

/*min-width: 940px; */
.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.ib {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

img {
  vertical-align: top;
  border: none;
}

input, textarea, button, select, a {
  outline: none;
}
input:focus, textarea:focus, button:focus, select:focus, a:focus {
  outline: none;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.errorMessage {
  color: #ed0000;
}

#wrapper {
  position: relative;
  min-width: 980px;
}
#wrapper .left-column {
  position: absolute !important;
  background: #3dbacf;
  top: 0px;
  left: 0px;
  min-height: 100%;
  width: 400px;
  min-height: 100px;
}
#wrapper .body-content {
  overflow: hidden;
  zoom: 1;
  margin-left: 400px;
}

.site-content {
  width: 100%;
  max-width: 1920px;
}

.inner-content {
  padding: 40px 0px 40px 40px;
  width: 950px;
}

/*╨Р╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╤Б╤В╤М */
@media (max-width: 1599px) {
  #wrapper .left-column {
    width: 300px;
  }
  #wrapper .body-content {
    margin-left: 300px;
  }

  .inner-content {
    width: 680px;
  }
}
.col-3 {
  width: 33.33%;
}

/*╨Я╨╛╨┐╨░╨┐ ╨░╨╗╨╡╤А╤В╨░ */
#daAlert .modal-body {
  position: relative;
}
#daAlert .modal-content {
  border-radius: 0px;
  border: none;
}
#daAlert .alert-success.modal-content {
  color: #5da771;
  background-color: #e1efe5;
}
#daAlert .alert-danger.modal-content {
  color: #aa5644;
  background-color: #ecd4ce;
}
#daAlert .alert-info.modal-content {
  color: #b0bb5b;
  background-color: #f5f7eb;
}
#daAlert .close {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background: #fff;
  font-size: 20px;
  border: none;
}
#daAlert .modal-title {
  font-size: 20px;
}
#daAlert .modal-footer {
  border-top: none;
}
#daAlert .alert-success.modal-footer button {
  background: #91c18d;
  border-radius: 3px;
  color: #5c7c5c;
  border: none;
  padding: 3px 10px;
}
#daAlert .alert-danger.modal-footer button {
  background: #bb958d;
  border-radius: 3px;
  color: #8e756c;
  border: none;
  padding: 3px 10px;
}
#daAlert .alert-info.modal-footer button {
  background: #bfc3a4;
  border-radius: 3px;
  color: #9b9f89;
  border: none;
  padding: 3px 10px;
}

/*╨Я╨░╨│╨╕╨╜╨░╤Ж╨╕╤П */
.pagination {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.pagination li {
  margin: 0px 3px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.pagination a {
  display: block;
  font-family: Verdana;
  font-size: 12px;
  line-height: 12px;
  background: none;
  color: #3dbacf;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}
.pagination li.selected a, .pagination li:hover a, .pagination li.active a {
  background: #3dbacf;
  color: #fff;
  text-decoration: none;
}
.pagination li.hidden, .pagination li.disabled {
  display: none;
}

/*╨Ь╨╛╨┤╨░╨╗╤М╨╜╤Л╨╡ ╨╛╨║╨╜╨░, ╨┐╨╛╨┐╨░╨┐╤Л (╨╜╨░ ╨╛╤Б╨╜╨╛╨▓╨╡ fancybox) */
.fancybox-inner {
  overflow: visible !important;
}

.fancybox-title-float-wrap .child {
  background: none;
}

.box-popup {
  display: none;
}

.fancybox-skin {
  background: #fff;
  border-radius: 0px;
}

.fancybox-close {
  top: -17px;
  right: -17px;
}

.box-popup .header {
  height: 35px;
  margin-bottom: 25px;
  padding: 9px 35px 0px 20px;
}
.box-popup .title {
  margin: 0px;
  font-size: 18px;
}
.box-popup .content-popup {
  padding: 0px 20px 20px 20px;
}

.title-main,
.title-main a,
.title-main span {
  margin: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 29px;
  line-height: 34px;
  color: #6c6c6c;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-main a:hover {
  text-decoration: underline;
}

.title-main.white {
  color: #fff;
}

.text-main {
  font-family: Arial;
  font-size: 17px;
  line-height: 25px;
  color: #707070;
}

.a-main {
  font-family: Verdana;
  font-size: 18px;
  line-height: 20px;
  color: #3dbacf;
  text-decoration: underline;
}
.a-main:hover {
  text-decoration: none;
}

.btn-main {
  font-family: Verdana;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 5px;
  background: #145fa8;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-main:hover {
  background: #1979d6;
}

.style-form-text, .style-form-textarea {
  width: 100%;
  border: 2px solid #fff;
  padding: 14px 10px;
  font-family: Verdana;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
}
.style-form-text::-webkit-input-placeholder, .style-form-textarea::-webkit-input-placeholder {
  font-family: Verdana;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.style-form-text:-moz-placeholder, .style-form-textarea:-moz-placeholder {
  font-family: Verdana;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.style-form-text:-ms-input-placeholder, .style-form-textarea:-ms-input-placeholder {
  font-family: Verdana;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.style-form-text.placeholder, .style-form-textarea.placeholder {
  font-family: Verdana;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.style-form-text.blue, .style-form-textarea.blue {
  border: 2px solid #3dbacf;
  color: #3dbacf;
}
.style-form-text.blue::-webkit-input-placeholder, .style-form-textarea.blue::-webkit-input-placeholder {
  color: #3dbacf;
}
.style-form-text.blue:-moz-placeholder, .style-form-textarea.blue:-moz-placeholder {
  color: #3dbacf;
}
.style-form-text.blue:-ms-input-placeholder, .style-form-textarea.blue:-ms-input-placeholder {
  color: #3dbacf;
}
.style-form-text.blue.placeholder, .style-form-textarea.blue.placeholder {
  color: #3dbacf;
}
.style-form-text.gray, .style-form-textarea.gray {
  border: 2px solid #6c6c6c;
  color: #6c6c6c;
}
.style-form-text.gray::-webkit-input-placeholder, .style-form-textarea.gray::-webkit-input-placeholder {
  color: #6c6c6c;
}
.style-form-text.gray:-moz-placeholder, .style-form-textarea.gray:-moz-placeholder {
  color: #6c6c6c;
}
.style-form-text.gray:-ms-input-placeholder, .style-form-textarea.gray:-ms-input-placeholder {
  color: #6c6c6c;
}
.style-form-text.gray.placeholder, .style-form-textarea.gray.placeholder {
  color: #6c6c6c;
}
.style-form-text:focus, .style-form-textarea:focus {
  border: 2px solid #145fa8;
  color: #145fa8;
}
.style-form-text:focus::-webkit-input-placeholder, .style-form-textarea:focus::-webkit-input-placeholder {
  color: #145fa8;
}
.style-form-text:focus:-moz-placeholder, .style-form-textarea:focus:-moz-placeholder {
  color: #145fa8;
}
.style-form-text:focus:-ms-input-placeholder, .style-form-textarea:focus:-ms-input-placeholder {
  color: #145fa8;
}
.style-form-text:focus.placeholder, .style-form-textarea:focus.placeholder {
  color: #145fa8;
}

.style-form-textarea {
  resize: none;
}

.form-row {
  margin-bottom: 15px;
}

.captcha {
  max-width: 200px;
  margin-left: 20px;
}

.box-about {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}
.box-about .box-text {
  width: 60%;
  float: left;
  padding: 120px 0px 50px 50px;
}
.box-about .box-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  height: 560px;
  float: right;
}

@media (max-width: 1599px) {
  .box-about .box-text {
    width: 75%;
  }
  .box-about .box-img {
    width: 25%;
    height: 360px;
  }
}
.box-flash-contacts {
  width: 290px;
  margin: auto;
}
.box-flash-contacts .phone {
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.box-flash-contacts .btn-callback {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 25px;
  text-decoration: none;
  cursor: pointer;
  background: url('/themes/application/images/app/ico-phone-white-20x20.png?1418985666') 0px 50% no-repeat;
}
.box-flash-contacts .btn-callback span {
  border-bottom: 1px dashed #fff;
}
.box-flash-contacts .btn-callback:hover span {
  border-bottom: 1px dotted #fff;
}

.box-form-feedback .top-part .form-row {
  float: left;
  width: 33.33%;
}
.box-form-feedback .top-part .name {
  padding-right: 10px;
}
.box-form-feedback .top-part .phone {
  padding: 0px 10px;
}
.box-form-feedback .top-part .email {
  padding-left: 10px;
}

.box-form-question {
  background: #3dbacf;
  padding: 30px;
  margin-bottom: 45px;
}
.box-form-question .specialist, .box-form-question .name, .box-form-question .name-specialist {
  display: none;
}
.box-form-question .immya {
  float: left;
  width: 50%;
  padding-right: 7px;
}
.box-form-question .email {
  float: right;
  width: 50%;
  padding-left: 7px;
}
.box-form-question .form-actions .btn-main {
  padding: 13px 30px;
}

.services-list {
  word-spacing: -4px;
}
.services-list * {
  word-spacing: normal;
}

.services-item {
  height: 480px;
  text-decoration: none;
  position: relative;
  padding: 0px 10px;
}
.services-item:hover {
  opacity: 0.9;
}
.services-item .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.services-item .table {
  display: table;
  height: 100%;
  width: 100%;
}
.services-item .cell {
  height: 480px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.services-item:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.services-item.blue:after {
  background-color: rgba(19, 83, 149, 0.8);
}
.services-item.green:after {
  background-color: rgba(15, 161, 193, 0.8);
}
.services-item.white:after {
  background-color: rgba(255, 255, 255, 0.8);
}
.services-item .name {
  position: relative;
  margin: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  padding-bottom: 34px;
  background: url('/themes/application/images/app/arrow-left-white-28x28.png?1418885255') 50% 100% no-repeat;
}
.services-item.white .name {
  color: #a19f9f;
  background: url('/themes/application/images/app/arrow-left-gray-28x28.png?1418885753') 50% 100% no-repeat;
}

@media (max-width: 1599px) {
  .services-item {
    height: 350px;
  }
  .services-item .cell {
    height: 350px;
  }
}
.footer-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  word-spacing: 15px;
}
.footer-menu ul * {
  word-spacing: normal;
}
.footer-menu li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.left-column {
  position: relative;
  padding-bottom: 90px;
  min-height: 100%;
}
.left-column .logo {
  display: block;
  padding: 20px 0px;
  text-align: center;
  background: #f9f5f5;
  margin-bottom: 70px;
}
.left-column .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.left-column .footer {
  position: absolute;
  width: 100%;
  height: 85px;
  bottom: 0px;
  left: 0px;
}
.left-column .footer .copy {
  width: 260px;
  margin: auto;
  color: #fff;
  font-family: Tahoma;
  font-size: 14px;
  margin-bottom: 15px;
}
.left-column .footer .dev {
  width: 260px;
  margin: auto;
  color: #fff;
  font-family: Tahoma;
  font-size: 12px;
}
.left-column .footer .dev img {
  margin-top: 4px;
}
.left-column .footer .dev span {
  text-transform: lowercase;
}
.left-column .footer .dev a {
  color: #fff;
  text-transform: uppercase;
}
.left-column .footer .dev a:hover {
  text-decoration: none;
}
.left-column .footer .dev * {
  vertical-align: middle;
}

/*╨У╨╗╨░╨▓╨╜╨╛╨╡ ╨╝╨╡╨╜╤О */
.main-menu {
  margin-bottom: 0px;
  margin-left: 65px;
  margin-top: 50px;
}

.main-menu-ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main-menu-ul > li {
  position: relative;
}
.main-menu-ul > li.active > a, .main-menu-ul > li:hover > a {
  color: #145fa8;
}
.main-menu-ul > li:hover > ul {
  display: block;
}
.main-menu-ul > li > a {
  display: block;
  height: 60px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 50px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.main-menu-ul > li > ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #f5f5f5;
  z-index: 11;
}
.main-menu-ul > li > ul > li {
  position: relative;
}
.main-menu-ul > li > ul > li.active > a, .main-menu-ul > li > ul > li:hover > a {
  color: #145fa8;
  background: #3dbacf;
}
.main-menu-ul > li > ul a {
  display: block;
  height: 60px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
  color: #6c6c6c;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 35px;
  white-space: nowrap;
}
.main-menu-ul .home:before, .main-menu-ul .about:before, .main-menu-ul .services:before, .main-menu-ul .specialists:before, .main-menu-ul .reviews:before, .main-menu-ul .news:before, .main-menu-ul .contacts:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 0px;
  height: 100%;
}
.main-menu-ul .home:before {
  left: 14px;
  width: 25px;
  background: url('/themes/application/images/app/ico-home-50x26.png?1419237955') 0px 50% no-repeat;
}
.main-menu-ul .home.active:before, .main-menu-ul .home:hover:before {
  background: url('/themes/application/images/app/ico-home-50x26.png?1419237955') -25px 50% no-repeat;
}
.main-menu-ul .about:before {
  left: 14px;
  width: 29px;
  background: url('/themes/application/images/app/ico-about-58x25.png?1418910792') 0px 50% no-repeat;
}
.main-menu-ul .about.active:before, .main-menu-ul .about:hover:before {
  background: url('/themes/application/images/app/ico-about-58x25.png?1418910792') -29px 50% no-repeat;
}
.main-menu-ul .services:before {
  left: 17px;
  width: 20px;
  background: url('/themes/application/images/app/ico-services-40x23.png?1418910298') 0px 50% no-repeat;
}
.main-menu-ul .services.active:before, .main-menu-ul .services:hover:before {
  background: url('/themes/application/images/app/ico-services-40x23.png?1418910298') -20px 50% no-repeat;
}
.main-menu-ul .specialists:before {
  left: 14px;
  width: 27px;
  background: url('/themes/application/images/app/ico-specialists-54x26.png?1418911110') 0px 50% no-repeat;
}
.main-menu-ul .specialists.active:before, .main-menu-ul .specialists:hover:before {
  background: url('/themes/application/images/app/ico-specialists-54x26.png?1418911110') -27px 50% no-repeat;
}
.main-menu-ul .reviews:before {
  left: 14px;
  width: 27px;
  background: url('/themes/application/images/app/ico-reviewst-54x26.png?1418911358') 0px 50% no-repeat;
}
.main-menu-ul .reviews.active:before, .main-menu-ul .reviews:hover:before {
  background: url('/themes/application/images/app/ico-reviewst-54x26.png?1418911358') -27px 50% no-repeat;
}
.main-menu-ul .news:before {
  left: 14px;
  width: 26px;
  background: url('/themes/application/images/app/ico-news-48x19.png?1418912907') 0px 50% no-repeat;
}
.main-menu-ul .news.active:before, .main-menu-ul .news:hover:before {
  background: url('/themes/application/images/app/ico-news-48x19.png?1418912907') -26px 50% no-repeat;
}
.main-menu-ul .contacts:before {
  left: 14px;
  width: 26px;
  background: url('/themes/application/images/app/ico-contactst-52x19.png?1418911341') 0px 50% no-repeat;
}
.main-menu-ul .contacts.active:before, .main-menu-ul .contacts:hover:before {
  background: url('/themes/application/images/app/ico-contactst-52x19.png?1418911341') -26px 50% no-repeat;
}

@media (max-width: 1599px) {
  .main-menu {
    margin-left: 35px;
  }
}
.controller_contact .inner-content {
  padding: 0px;
  width: auto;
}

.page-contact-inner {
  padding: 40px 0px 40px 40px;
  width: 950px;
}
.page-contact-inner .box-contact {
  margin-bottom: 40px;
}

.box-map {
  width: 100%;
  height: 400px;
}

@media (max-width: 1599px) {
  .page-contact-inner {
    width: 680px;
  }
}
.box-single-item {
  margin-top: 35px;
}
.box-single-item:first-child {
  margin-top: 0px;
}
.box-single-item .box-img {
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.box-single-item .data {
  overflow: hidden;
  zoom: 1;
}
.box-single-item .name {
  margin: 0px;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box-single-item .name a {
  color: #000;
  text-decoration: none;
}
.box-single-item .name a:hover {
  text-decoration: underline;
}
.box-single-item .more {
  margin-top: 15px;
}

.box-news-single .archive {
  margin-top: 15px;
}

.page-review .box-review-form {
  display: none;
  background: #3dbacf;
  padding: 30px;
  margin-bottom: 45px;
}
.page-review .btn-write-review {
  position: relative;
  padding-left: 12px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.page-review .btn-write-review:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 7px;
  height: 100%;
  background: url('/themes/application/images/app/arrow-top-bottom-green-15x8.png?1419492080') 0px 50% no-repeat;
}
.page-review .btn-write-review:hover {
  cursor: pointer;
  text-decoration: none;
}
.page-review .btn-write-review.active:before {
  width: 8px;
  background: url('/themes/application/images/app/arrow-top-bottom-green-15x8.png?1419492080') -7px 50% no-repeat;
}
.page-review .review-item {
  margin-top: 35px;
}
.page-review .review-item:first-child {
  margin-top: 0px;
}
.page-review .review-item .name {
  font-family: Tahoma;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  margin-bottom: 15px;
}
.page-review .review-item .date {
  font-size: 15px;
  color: #777777;
  margin-left: 15px;
}

.page-specialist .specialist-list .box-img, .page-specialist .specialist-single .box-img {
  overflow: hidden;
  float: left;
  margin-right: 40px;
}
.page-specialist .specialist-list .box-info, .page-specialist .specialist-single .box-info {
  overflow: hidden;
  zoom: 1;
}
.page-specialist .specialist-single {
  margin-bottom: 30px;
}
.page-specialist .specialist-item {
  margin-top: 70px;
}
.page-specialist .specialist-item:first-child {
  margin-top: 0px;
}
.page-specialist .specialist-list a.box-img:hover, .page-specialist .specialist-single a.box-img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.page-specialist .specialist-list .name, .page-specialist .specialist-single .name {
  font-family: Verdana;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #757373;
  margin-bottom: 15px;
}
.page-specialist .specialist-list a.name:hover, .page-specialist .specialist-single a.name:hover {
  text-decoration: underline;
}
.page-specialist .specialist-list .job_title, .page-specialist .specialist-single .job_title {
  font-family: Verdana;
  font-size: 19px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  color: #757373;
  margin-bottom: 15px;
}
.page-specialist .specialist-list .btn-main, .page-specialist .specialist-single .btn-main {
  margin-bottom: 15px;
}
.page-specialist .specialist-list .description, .page-specialist .specialist-single .description {
  margin-bottom: 15px;
}
.page-specialist .specialist-list .experience, .page-specialist .specialist-single .experience {
  font-family: Verdana;
  font-size: 19px;
  color: #757373;
}

.slider.gallery-hidden {
  visibility: hidden;
}

.box-slider .lSSlideWrapper {
  height: 600px !important;
}
.box-slider .lSSlideOuter {
  position: relative;
}
.box-slider .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.box-slider .lSSlideOuter .lSPager.lSpg > li a {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  height: 19px;
  width: 19px;
  background: url('/themes/application/images/app/slider-pagination.png?1418906304') -19px 0px no-repeat;
}
.box-slider .lSSlideOuter .lSPager.lSpg > li.active a, .box-slider .lSSlideOuter .lSPager.lSpg > li:hover a {
  background: url('/themes/application/images/app/slider-pagination.png?1418906304') 0px 0px no-repeat;
}

.slider {
  word-spacing: -4px;
  height: 600px !important;
}
.slider * {
  word-spacing: normal;
}
.slider .cell {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
.slider .text {
  width: 45%;
  padding-left: 50px;
}
.slider .text h2 {
  margin: 0px;
  font-family: "OpenSans-light-wf";
  font-size: 43px;
  line-height: 48px;
  text-transform: uppercase;
  color: #3dbacf;
  margin-bottom: 15px;
}
.slider .text h3 {
  margin: 0px;
  font-family: "OpenSans-extrabold-wf";
  font-size: 37px;
  line-height: 62px;
  text-transform: uppercase;
  color: #3dbacf;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.slider .text h3 span {
  border-bottom: 12px solid #3dbacf;
}
.slider .text p {
  margin: 0px;
  font-family: Arial;
  font-size: 17px;
  line-height: 22px;
  color: #3b3b3b;
  text-shadow: 0px 0px 10px #fff;
  margin-bottom: 15px;
}
.slider .more {
  font-family: Verdana;
  font-size: 18px;
  text-transform: uppercase;
  color: #3dbacf;
  padding-right: 20px;
  line-height: 21px;
  background: url('/themes/application/images/app/arrow-left-green-17x16.png?1418905443') 100% 50% no-repeat;
}
.slider .more:hover {
  text-decoration: none;
}
.slider .slide {
  width: 100%;
  height: 600px !important;
}
.slider .slide.active {
  display: block !important;
}

@media (max-width: 1599px) {
  .box-slider .lSSlideWrapper {
    height: 400px !important;
  }

  .slider {
    height: 400px !important;
  }
  .slider .cell {
    height: 400px;
  }
  .slider .slide {
    height: 400px !important;
  }
}
@media (max-width: 1439px) {
  .slider .text {
    width: 65%;
  }
}
.widget-answer .answer-item {
  margin-top: 40px;
}
.widget-answer .answer-item:first-child {
  margin-top: 0px;
}
.widget-answer .name {
  font-family: Tahoma;
  font-size: 15px;
  color: #777777;
  line-height: 17px;
  margin-bottom: 15px;
}
.widget-answer .theme {
  margin: 0px;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  line-height: 20px;
  margin-bottom: 15px;
}
.widget-answer .question {
  line-height: 24px;
  margin-bottom: 15px;
}
.widget-answer .answer {
  position: relative;
  font-family: Arial;
  background: #3dbacf;
  color: #fff;
  font-size: 17px;
  line-height: 19px;
  padding: 30px 15px;
  margin-top: 35px;
}
.widget-answer .answer:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 19px;
  background: url('/themes/application/images/app/arrow-top-green-37x19.png?1419422205') 50px 0px no-repeat;
}

.widget-specialist .specialist-list .cell {
  display: table-cell;
  height: 480px;
  vertical-align: middle;
}
.widget-specialist .specialist-list .more {
  width: 25%;
  height: 480px;
  float: left;
  background: #3dbacf;
  text-decoration: none;
  padding: 0px 20px;
}
.widget-specialist .specialist-list .more:hover .title {
  text-decoration: underline;
}
.widget-specialist .specialist-list .more .title {
  margin: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  padding-bottom: 34px;
  background: url('/themes/application/images/app/arrow-left-white-28x28.png?1418885255') 50% 100% no-repeat;
}
.widget-specialist .specialist-item {
  position: relative;
  width: 25%;
  height: 480px;
  float: left;
}
.widget-specialist .specialist-item .overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 0px 75px;
  background: rgba(61, 186, 207, 0.75);
}
.widget-specialist .specialist-item .cell {
  display: table-cell;
  height: 480px;
  vertical-align: middle;
}
.widget-specialist .specialist-item .name, .widget-specialist .specialist-item .job-title {
  margin: 0px;
  font-family: Verdana;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.widget-specialist .specialist-item .name {
  text-decoration: none;
}
.widget-specialist .specialist-item .name:hover {
  text-decoration: underline;
}
.widget-specialist .specialist-item .job-title {
  font-weight: bold;
}

@media (max-width: 1599px) {
  .widget-specialist .specialist-item {
    height: 350px;
  }
  .widget-specialist .specialist-list .more {
    height: 350px;
  }
  .widget-specialist .specialist-list .cell {
    height: 350px;
  }
}
@media (max-width: 1279px) {
  .widget-specialist .specialist-item {
    width: 50%;
  }
  .widget-specialist .specialist-list .more {
    width: 50%;
  }
}
