.title-main,
.title-main a,
.title-main span {
    margin: 0px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 29px;
    line-height: 34px;
    color: #6c6c6c;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 30px; }

.title-main a:hover {
    text-decoration: underline; }

.text-main {
    font-family: Arial;
    font-size: 17px;
    line-height: 25px;
    color: #707070; }

.a-main {
    font-family: Verdana;
    font-size: 18px;
    line-height: 20px;
    color: #3dbacf;
    text-decoration: underline; }
.a-main:hover {
    text-decoration: none; }
.table-main {
    width: 100%;
    background: #f9f5f5;
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #707070;
}
.table-main td {
    padding: 15px 25px;
    vertical-align: middle;
}
.table-main td:nth-child(even) {
    text-align: right;
    min-width: 150px;
}
.table-main tr:nth-child(even) td {
    background: #fffbfb;
}
.table-main tr:hover td {
    background: #3dbacf;
    color: #00519d;
}
.js-popup-img-overlay {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.js-popup-img-overlay:hover:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("/themes/application/images/app/ico-loupe-white-46x45.png") 50% 50% no-repeat, rgba(61, 186, 207, 0.80);
    z-index: 2;
}