.box-flash-contacts {
  width: 290px;
  margin: auto;
}
.box-flash-contacts .phone {
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.box-flash-contacts .btn-callback {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 25px;
  text-decoration: none;
  cursor: pointer;
  background: url('/themes/application/images/app/ico-phone-white-20x20.png?1418985666') 0px 50% no-repeat;
}
.box-flash-contacts .btn-callback span {
  border-bottom: 1px dashed #fff;
}
.box-flash-contacts .btn-callback:hover span {
  border-bottom: 1px dotted #fff;
}
