.box-form-question {
  background: #3dbacf;
  padding: 30px;
  margin-bottom: 45px;
}
.box-form-question .specialist, .box-form-question .name, .box-form-question .name-specialist {
  display: none;
}
.box-form-question .immya {
  float: left;
  width: 50%;
  padding-right: 7px;
}
.box-form-question .email {
  float: right;
  width: 50%;
  padding-left: 7px;
}
.box-form-question .form-actions .btn-main {
  padding: 13px 30px;
}
