.box-about {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}
.box-about .box-text {
  width: 60%;
  float: left;
  padding: 120px 0px 50px 50px;
}
.box-about .box-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  height: 560px;
  float: right;
}

@media (max-width: 1599px) {
  .box-about .box-text {
    width: 75%;
  }
  .box-about .box-img {
    width: 25%;
    height: 360px;
  }
}
