.box-form-feedback .top-part .form-row {
  float: left;
  width: 33.33%;
}
.box-form-feedback .top-part .name {
  padding-right: 10px;
}
.box-form-feedback .top-part .phone {
  padding: 0px 10px;
}
.box-form-feedback .top-part .email {
  padding-left: 10px;
}
