.box-single-item {
  margin-top: 35px;
}
.box-single-item:first-child {
  margin-top: 0px;
}
.box-single-item .box-img {
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.box-single-item .data {
  overflow: hidden;
  zoom: 1;
}
.box-single-item .name {
  margin: 0px;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box-single-item .name a {
  color: #000;
  text-decoration: none;
}
.box-single-item .name a:hover {
  text-decoration: underline;
}
.box-single-item .more {
  margin-top: 15px;
}

.box-news-single .archive {
  margin-top: 15px;
}
