.page-review .box-review-form {
  display: none;
  background: #3dbacf;
  padding: 30px;
  margin-bottom: 45px;
}
.page-review .btn-write-review {
  position: relative;
  padding-left: 12px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.page-review .btn-write-review:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 7px;
  height: 100%;
  background: url('/themes/application/images/app/arrow-top-bottom-green-15x8.png?1419492080') 0px 50% no-repeat;
}
.page-review .btn-write-review:hover {
  cursor: pointer;
  text-decoration: none;
}
.page-review .btn-write-review.active:before {
  width: 8px;
  background: url('/themes/application/images/app/arrow-top-bottom-green-15x8.png?1419492080') -7px 50% no-repeat;
}
.page-review .review-item {
  margin-top: 35px;
}
.page-review .review-item:first-child {
  margin-top: 0px;
}
.page-review .review-item .name {
  font-family: Tahoma;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  margin-bottom: 15px;
}
.page-review .review-item .date {
  font-size: 15px;
  color: #777777;
  margin-left: 15px;
}
