.widget-specialist .specialist-list .cell {
  display: table-cell;
  height: 480px;
  vertical-align: middle;
}
.widget-specialist .specialist-list .more {
  width: 25%;
  height: 480px;
  float: left;
  background: #3dbacf;
  text-decoration: none;
  padding: 0px 20px;
}
.widget-specialist .specialist-list .more:hover .title {
  text-decoration: underline;
}
.widget-specialist .specialist-list .more .title {
  margin: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  padding-bottom: 34px;
  background: url('/themes/application/images/app/arrow-left-white-28x28.png?1418885255') 50% 100% no-repeat;
}
.widget-specialist .specialist-item {
  position: relative;
  width: 25%;
  height: 480px;
  float: left;
}
.widget-specialist .specialist-item .overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 0px 75px;
  background: rgba(61, 186, 207, 0.75);
}
.widget-specialist .specialist-item .cell {
  display: table-cell;
  height: 480px;
  vertical-align: middle;
}
.widget-specialist .specialist-item .name, .widget-specialist .specialist-item .job-title {
  margin: 0px;
  font-family: Verdana;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.widget-specialist .specialist-item .name {
  text-decoration: none;
}
.widget-specialist .specialist-item .name:hover {
  text-decoration: underline;
}
.widget-specialist .specialist-item .job-title {
  font-weight: bold;
}

@media (max-width: 1599px) {
  .widget-specialist .specialist-item {
    height: 350px;
  }
  .widget-specialist .specialist-list .more {
    height: 350px;
  }
  .widget-specialist .specialist-list .cell {
    height: 350px;
  }
}
@media (max-width: 1279px) {
  .widget-specialist .specialist-item {
    width: 50%;
  }
  .widget-specialist .specialist-list .more {
    width: 50%;
  }
}
