.widget-answer .answer-item {
  margin-top: 40px;
}
.widget-answer .answer-item:first-child {
  margin-top: 0px;
}
.widget-answer .name {
  font-family: Tahoma;
  font-size: 15px;
  color: #777777;
  line-height: 17px;
  margin-bottom: 15px;
}
.widget-answer .theme {
  margin: 0px;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  line-height: 20px;
  margin-bottom: 15px;
}
.widget-answer .question {
  line-height: 24px;
  margin-bottom: 15px;
}
.widget-answer .answer {
  position: relative;
  font-family: Arial;
  background: #3dbacf;
  color: #fff;
  font-size: 17px;
  line-height: 19px;
  padding: 30px 15px;
  margin-top: 35px;
}
.widget-answer .answer:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 19px;
  background: url('/themes/application/images/app/arrow-top-green-37x19.png?1419422205') 50px 0px no-repeat;
}
