// форма вопроса
.box-form-question
  background: #3dbacf
  padding: 30px
  margin-bottom: 45px
  .specialist, .name, .name-specialist
    display: none
  .immya
    float: left
    width: 50%
    padding-right: 7px
  .email
    float: right
    width: 50%
    padding-left: 7px
  .form-actions
    .btn-main
      padding: 13px 30px