// блок контактов в левой колонке
.box-flash-contacts
  width: 290px
  margin: auto
  .phone
    font-family: Verdana
    font-weight: bold
    font-size: 22px
    line-height: 24px
    color: #fff
    margin-bottom: 10px
  .btn-callback
    font-family: Verdana
    font-weight: bold
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
    color: #fff
    padding-left: 25px
    text-decoration: none
    cursor: pointer
    background: image-url('app/ico-phone-white-20x20.png') 0px 50% no-repeat
    span
      border-bottom: 1px dashed #fff
    &:hover span
      border-bottom: 1px dotted #fff