// блок услуг на главной
.services-list
  word-spacing: -4px
  *
    word-spacing: normal
.services-item
  height: 480px
  text-decoration: none
  position: relative
  padding: 0px 10px
  &:hover
    opacity: 0.9
  .bg
    position: absolute
    width: 100%
    height: 100%
    left: 0px
    top: 0px
    +opacity(0.5)
    //+filter(grayscale(100%))
  .table
    display: table
    height: 100%
    width: 100%
  .cell
    height: 480px
    width: 100%
    display: table-cell
    vertical-align: middle
    text-align: center
  &:after
    position: absolute
    content: ''
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    z-index: 1
  &.blue:after
    background-color: rgba(19, 83, 149, 0.80)
  &.green:after
    background-color: rgba(15, 161, 193, 0.80)
  &.white:after
    background-color: rgba(255, 255, 255, 0.80)
  .name
    position: relative
    margin: 0px
    font-family: Verdana
    font-weight: bold
    font-size: 22px
    line-height: 26px
    text-transform: uppercase
    color: #fff
    z-index: 2
    padding-bottom: 34px
    background: image-url('app/arrow-left-white-28x28.png') 50% 100% no-repeat
  &.white .name
    color: #a19f9f
    background: image-url('app/arrow-left-gray-28x28.png') 50% 100% no-repeat


// адаптивность
@media (max-width: 1599px)
  .services-item
    height: 350px
    .cell
      height: 350px
