// форма связи
.box-form-feedback
  .top-part
    .form-row
      float: left
      width: 33.33%
    .name
      padding-right: 10px
    .phone
      padding: 0px 10px
    .email
      padding-left: 10px