// блок о компании на главной
.box-about
  position: relative
  overflow: hidden
  min-height: 300px
  .box-text
    width: 60%
    float: left
    padding: 120px 0px 50px 50px
  .box-img
    position: absolute
    right: 0px
    bottom: 0px
    width: 40%
    height: 560px
    float: right

// адаптивность
@media (max-width: 1599px)
  .box-about
    .box-text
      width: 75%
    .box-img
      width: 25%
      height: 360px