// левая колонка
.left-column
  position: relative
  padding-bottom: 90px
  min-height: 100%
  .logo
    display: block
    padding: 20px 0px
    text-align: center
    background: #f9f5f5
    margin-bottom: 70px
    &:hover
      +opacity(0.9)
  .footer
    //visibility: hidden
    position: absolute
    width: 100%
    height: 85px
    bottom: 0px
    left: 0px
    .copy
      width: 260px
      margin: auto
      color: #fff
      font-family: Tahoma
      font-size: 14px
      margin-bottom: 15px
    .dev
      width: 260px
      margin: auto
      color: #fff
      font-family: Tahoma
      font-size: 12px
      img
        margin-top: 4px
      span
        text-transform: lowercase
      a
        color: #fff
        text-transform: uppercase
        &:hover
          text-decoration: none
      *
        vertical-align: middle