/*Главное меню
.main-menu
  margin-bottom: 0px
  margin-left: 65px
  margin-top: 50px
.main-menu-ul
  margin: 0px
  padding: 0px
  list-style: none
  > li
    position: relative
    &.active > a, &:hover > a
      color: #145fa8
    &:hover > ul
      display: block
    > a
      display: block
      height: 60px
      font-family: Verdana
      font-weight: bold
      font-size: 18px
      line-height: 60px
      color: #fff
      text-transform: uppercase
      text-decoration: none
      padding-left: 50px
      +transition(none)
    > ul
      display: none
      position: absolute
      left: 100%
      top: 0px
      margin: 0px
      padding: 0px
      list-style: none
      background: #f5f5f5
      z-index: 11
      > li
        position: relative
        &.active > a, &:hover > a
          color: #145fa8
          background: #3dbacf
      a
        display: block
        height: 60px
        font-family: Verdana
        font-weight: bold
        font-size: 18px
        line-height: 56px
        color: #6c6c6c
        text-transform: uppercase
        text-decoration: none
        padding: 0px 35px
        white-space: nowrap
  .home, .about, .services, .specialists, .reviews, .news, .contacts
    &:before
      position: absolute
      content: ''
      left: 10px
      top: 0px
      height: 100%
  .home
    &:before
      left: 14px
      width: 25px
      background: image-url('app/ico-home-50x26.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-home-50x26.png') -25px 50% no-repeat
  .about
    &:before
      left: 14px
      width: 29px
      background: image-url('app/ico-about-58x25.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-about-58x25.png') -29px 50% no-repeat
  .services
    &:before
      left: 17px
      width: 20px
      background: image-url('app/ico-services-40x23.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-services-40x23.png') -20px 50% no-repeat
  .specialists
    &:before
      left: 14px
      width: 27px
      background: image-url('app/ico-specialists-54x26.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-specialists-54x26.png') -27px 50% no-repeat
  .reviews
    &:before
      left: 14px
      width: 27px
      background: image-url('app/ico-reviewst-54x26.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-reviewst-54x26.png') -27px 50% no-repeat
  .news
    &:before
      left: 14px
      width: 26px
      background: image-url('app/ico-news-48x19.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-news-48x19.png') -26px 50% no-repeat
  .contacts
    &:before
      left: 14px
      width: 26px
      background: image-url('app/ico-contactst-52x19.png') 0px 50% no-repeat
    &.active, &:hover
      &:before
        background: image-url('app/ico-contactst-52x19.png') -26px 50% no-repeat

// адаптивность
@media (max-width: 1599px)
  .main-menu
    margin-left: 35px