// страница отзывы
.controller_contact
  .inner-content
    padding: 0px
    width: auto
.page-contact-inner
  padding: 40px 0px 40px 40px
  width: 950px
  .box-contact
    margin-bottom: 40px

.box-map
  width: 100%
  height: 400px

//Адаптивность
@media (max-width: 1599px)
  .page-contact-inner
    width: 680px