// страница специалисты
.page-specialist
  .specialist-list, .specialist-single
    .box-img
      overflow: hidden
      float: left
      margin-right: 40px
    .box-info
      overflow: hidden
      zoom: 1
  .specialist-single
    margin-bottom: 30px
  .specialist-item
    margin-top: 70px
  .specialist-item:first-child
    margin-top: 0px
  .specialist-list, .specialist-single
    a.box-img:hover
      +opacity(0.9)
    .name
      font-family: Verdana
      font-size: 19px
      line-height: 22px
      text-decoration: none
      text-transform: uppercase
      color: #757373
      margin-bottom: 15px
    a.name:hover
      text-decoration: underline
    .job_title
      font-family: Verdana
      font-size: 19px
      font-weight: bold
      line-height: 22px
      text-transform: uppercase
      color: #757373
      margin-bottom: 15px
    .btn-main
      margin-bottom: 15px
    .description
      margin-bottom: 15px
    .experience
      font-family: Verdana
      font-size: 19px
      color: #757373