// страница отзывы
.page-review
  .box-review-form
    display: none
    background: #3dbacf
    padding: 30px
    margin-bottom: 45px
  .btn-write-review
    position: relative
    padding-left: 12px
    margin-bottom: 30px
    text-transform: uppercase
    &:before
      position: absolute
      content: ''
      left: 0px
      top: 0px
      width: 7px
      height: 100%
      background: image-url('app/arrow-top-bottom-green-15x8.png') 0px 50% no-repeat
    &:hover
      cursor: pointer
      text-decoration: none
    &.active:before
      width: 8px
      background: image-url('app/arrow-top-bottom-green-15x8.png') -7px 50% no-repeat
  .review-item
    margin-top: 35px
    &:first-child
      margin-top: 0px
    .name
      font-family: Tahoma
      font-size: 18px
      line-height: 20px
      color: #000
      margin-bottom: 15px
    .date
      font-size: 15px
      color: #777777
      margin-left: 15px