// страница новости
.box-single-item
  margin-top: 35px
  &:first-child
    margin-top: 0px
  .box-img
    overflow: hidden
    float: left
    margin-right: 15px
  .data
    overflow: hidden
    zoom: 1
  .name
    margin: 0px
    font-family: Verdana
    font-size: 16px
    font-weight: normal
    line-height: 18px
    text-transform: uppercase
    margin-bottom: 15px
    a
      color: #000
      text-decoration: none
      &:hover
        text-decoration: underline
  .more
    margin-top: 15px
.box-news-single
  .archive
    margin-top: 15px