// слайдер
.slider.gallery-hidden
  visibility: hidden
.box-slider
  .lSSlideWrapper
    height: 600px !important
  .lSSlideOuter
    position: relative
    .lSPager.lSpg
      position: absolute
      width: 100%
      bottom: 10px
      > li
        a
          +transition(none)
          height: 19px
          width: 19px
          background: image-url('app/slider-pagination.png') -19px 0px no-repeat
        &.active a, &:hover a
          background: image-url('app/slider-pagination.png') 0px 0px no-repeat

.slider
  word-spacing: -4px
  height: 600px !important
  *
    word-spacing: normal
  .cell
    display: table-cell
    vertical-align: middle
    height: 600px
  .text
    width: 45%
    padding-left: 50px
    h2
      margin: 0px
      +font-family-2("light")
      font-size: 43px
      line-height: 48px
      text-transform: uppercase
      color: #3dbacf
      margin-bottom: 15px
    h3
      margin: 0px
      +font-family-2("extrabold")
      font-size: 37px
      line-height: 62px
      text-transform: uppercase
      color: #3dbacf
      margin-bottom: 15px
      padding-bottom: 10px
      span
        border-bottom: 12px solid #3dbacf
    p
      margin: 0px
      font-family: Arial
      font-size: 17px
      line-height: 22px
      color: #3b3b3b
      text-shadow: 0px 0px 10px #fff
      margin-bottom: 15px
  .more
    font-family: Verdana
    font-size: 18px
    text-transform: uppercase
    color: #3dbacf
    padding-right: 20px
    line-height: 21px
    background: image-url("app/arrow-left-green-17x16.png") 100% 50% no-repeat
    &:hover
      text-decoration: none
  .slide
    width: 100%
    height: 600px !important
    &.active
      display: block !important // ie fix

// адаптивность
@media (max-width: 1599px)
  .box-slider .lSSlideWrapper
    height: 400px !important
  .slider
    height: 400px !important
    .cell
      height: 400px
    .slide
      height: 400px !important

@media (max-width: 1439px)
  .slider .text
    width: 65%