// блок персонал
.widget-specialist
  .specialist-list
    .cell
      display: table-cell
      height: 480px
      vertical-align: middle
    .more
      width: 25%
      height: 480px
      float: left
      background: #3dbacf
      text-decoration: none
      padding: 0px 20px
      &:hover .title
        text-decoration: underline
      .title
        margin: 0px
        font-family: Verdana
        font-weight: bold
        font-size: 22px
        line-height: 26px
        text-transform: uppercase
        color: #fff
        z-index: 2
        padding-bottom: 34px
        background: image-url('app/arrow-left-white-28x28.png') 50% 100% no-repeat
  .specialist-item
    position: relative
    width: 25%
    height: 480px
    float: left
    //+filter(grayscale(100%))
    .overlay
      display: none
      position: absolute
      width: 100%
      height: 100%
      top: 0px
      left: 0px
      padding: 0px 75px
      background: rgba(61, 186, 207, 0.75)
    .cell
      display: table-cell
      height: 480px
      vertical-align: middle
    .name, .job-title
      margin: 0px
      font-family: Verdana
      font-weight: normal
      font-size: 19px
      line-height: 24px
      text-transform: uppercase
      color: #fff
      margin-bottom: 20px
    .name
      text-decoration: none
      &:hover
        text-decoration: underline
    .job-title
      font-weight: bold
  
// адаптивность
@media (max-width: 1599px)
  .widget-specialist
    .specialist-item
      height: 350px
    .specialist-list
      .more
        height: 350px
      .cell
        height: 350px
@media (max-width: 1279px)
  .widget-specialist
    .specialist-item
      width: 50%
    .specialist-list
      .more
        width: 50%