*
  +box-sizing(border-box)

html
  height: 100%

body
  height: 100%
  +font-family-1
  font-size: 14px

@font-face
  font-family: "OpenSans-light-wf"
  src: url("/themes/application/fonts/opensans-light.ttf")

@font-face
  font-family: "OpenSans-lold-wf"
  src: url("/themes/application/fonts/spensans-bold.ttf")


@font-face
  font-family: "OpenSans-semibold-wf"
  src: url("/themes/application/fonts/opensans-semibold.ttf")


@font-face
  font-family: "OpenSans-extrabold-wf"
  src: url("/themes/application/fonts/opensans-extrabold.ttf")


#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  width: 100%
/*min-width: 940px;

//#footer
  height: 240px

//#push
  height: 240px

.cf
  +pie-clearfix

.ib
  +inline-block(top)

img
  vertical-align: top
  border: none

input, textarea, button, select, a
  outline: none
  &:focus
    outline: none

a
  +transition(all 0.2s ease-in-out)

.errorMessage
  color: #ed0000

#wrapper
  position: relative
  min-width: 980px
  .left-column
    position: absolute !important
    //overflow-y: auto
    background: #3dbacf
    top: 0px
    left: 0px
    min-height: 100%
    width: 400px
    //overflow: hidden
    //float: left
    min-height: 100px
  .body-content
    overflow: hidden
    zoom: 1
    margin-left: 400px

.site-content
  width: 100%
  max-width: 1920px
  //min-width: 980px
.inner-content
  padding: 40px 0px 40px 40px
  width: 950px

/*Адаптивность
//@media (min-width: 1920px)
//  .site-content
//    width: 1880px // для 1920 и свыше
//
//@media (max-width: 1919px)
//  .site-content
//    width: 1560px // для 1600
//
@media (max-width: 1599px)
  //.site-content
    width: 1240px // для 1280
  #wrapper
    .left-column
      width: 300px
    .body-content
      margin-left: 300px
  .inner-content
    width: 680px
//
////@media (max-width: 1439px)
//  .site-content
//    width: 1160px // для 1200
//  #wrapper
//    .left-column
//      width: 300px
//    .body-content
//      margin-left: 300px
//
//@media (max-width: 1279px)
//  .site-content
//    width: 980px // для 1024

.col-3
  width: 33.33%