@charset "UTF-8";
/*╨Я╨╛╨┐╨░╨┐ ╨░╨╗╨╡╤А╤В╨░ */
#daAlert .modal-body {
  position: relative;
}
#daAlert .modal-content {
  border-radius: 0px;
  border: none;
}
#daAlert .alert-success.modal-content {
  color: #5da771;
  background-color: #e1efe5;
}
#daAlert .alert-danger.modal-content {
  color: #aa5644;
  background-color: #ecd4ce;
}
#daAlert .alert-info.modal-content {
  color: #b0bb5b;
  background-color: #f5f7eb;
}
#daAlert .close {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background: #fff;
  font-size: 20px;
  border: none;
}
#daAlert .modal-title {
  font-size: 20px;
}
#daAlert .modal-footer {
  border-top: none;
}
#daAlert .alert-success.modal-footer button {
  background: #91c18d;
  border-radius: 3px;
  color: #5c7c5c;
  border: none;
  padding: 3px 10px;
}
#daAlert .alert-danger.modal-footer button {
  background: #bb958d;
  border-radius: 3px;
  color: #8e756c;
  border: none;
  padding: 3px 10px;
}
#daAlert .alert-info.modal-footer button {
  background: #bfc3a4;
  border-radius: 3px;
  color: #9b9f89;
  border: none;
  padding: 3px 10px;
}
