@charset "UTF-8";
/*╨Ь╨╛╨┤╨░╨╗╤М╨╜╤Л╨╡ ╨╛╨║╨╜╨░, ╨┐╨╛╨┐╨░╨┐╤Л (╨╜╨░ ╨╛╤Б╨╜╨╛╨▓╨╡ fancybox) */
.fancybox-inner {
  overflow: visible !important;
}

.fancybox-title-float-wrap .child {
  background: none;
}

.box-popup {
  display: none;
}

.fancybox-skin {
  background: #fff;
  border-radius: 0px;
}

.fancybox-close {
  top: -17px;
  right: -17px;
}

.box-popup .header {
  height: 35px;
  margin-bottom: 25px;
  padding: 9px 35px 0px 20px;
}
.box-popup .title {
  margin: 0px;
  font-size: 18px;
}
.box-popup .content-popup {
  padding: 0px 20px 20px 20px;
}
