/*Попап алерта
#daAlert
  .modal-body
    position: relative
  .modal-content
    border-radius: 0px
    border: none
  .alert-success.modal-content
    //border: 6px solid #c0ddc8
    color: darken(#c0ddc8, 30%)
    background-color: lighten(#c0ddc8, 10%)
  .alert-danger.modal-content
    //border: 6px solid #ddb3aa
    color: darken(#ddb3aa, 30%)
    background-color: lighten(#ddb3aa, 10%)
  .alert-info.modal-content
    //border: 6px solid #e4e8c7
    color: darken(#e4e8c7, 30%)
    background-color: lighten(#e4e8c7, 10%)
  .close
    display: none
    position: absolute
    right: 5px
    top: 5px
    background: #fff
    font-size: 20px
    border: none
  .modal-title
    font-size: 20px
  .modal-footer
    border-top: none
  .alert-success.modal-footer button
    background: #91c18d
    border-radius: 3px
    color: #5c7c5c
    border: none
    padding: 3px 10px
  .alert-danger.modal-footer button
    background: #bb958d
    border-radius: 3px
    color: #8e756c
    border: none
    padding: 3px 10px
  .alert-info.modal-footer button
    background: #bfc3a4
    border-radius: 3px
    color: #9b9f89
    border: none
    padding: 3px 10px