/*Пагинация
.pagination
  width: 100%
  list-style: none
  padding: 0px
  margin: 0px
  text-align: center
  li
    margin: 0px 3px
    display: -moz-inline-stack
    display: inline-block
    vertical-align: top
    zoom: 1
    *display: inline
  a
    display: block
    font-family: Verdana
    font-size: 12px
    line-height: 12px
    background: none
    color: #3dbacf
    padding: 8px 15px
    border: none
    cursor: pointer
    margin: 0px
    font-weight: normal
  li
    &.selected a, &:hover a, &.active a
      background: #3dbacf
      color: #fff
      text-decoration: none
    &.hidden, &.disabled
      display: none