/*Модальные окна, попапы (на основе fancybox)
.fancybox-inner
  overflow: visible !important

.fancybox-title-float-wrap .child
  background: none

.box-popup
  display: none

.fancybox-skin
  background: #fff
  border-radius: 0px

.fancybox-close
  top: -17px
  right: -17px

.box-popup
  .header
    height: 35px
    margin-bottom: 25px
    padding: 9px 35px 0px 20px
  .title
    margin: 0px
    //font-family: Tahoma
    font-size: 18px
  .content-popup
    padding: 0px 20px 20px 20px