// стандартные элементы
// заголовки
.title-main,
.title-main a,
.title-main span
  margin: 0px
  font-family: Verdana
  font-weight: bold
  font-size: 29px
  line-height: 34px
  color: #6c6c6c
  text-decoration: none
  text-transform: uppercase
  margin-bottom: 30px
.title-main a:hover
  text-decoration: underline
.title-main.white
  color: #fff

// текст
.text-main
  font-family: Arial
  font-size: 17px
  line-height: 25px
  color: #707070

// ссылки
.a-main
  font-family: Verdana
  font-size: 18px
  line-height: 20px
  color: #3dbacf
  text-decoration: underline
  &:hover
    text-decoration: none

// кнопки
.btn-main
  font-family: Verdana
  font-weight: bold
  color: #fff
  font-size: 13px
  line-height: 15px
  text-transform: uppercase
  text-decoration: none
  border: none
  padding: 5px
  background: #145fa8
  cursor: pointer
  +inline-block(top)
  +transition(all 0.2s ease-in-out)
  &:hover
    background: lighten(#145fa8, 10%)

// поля форм
.style-form-text, .style-form-textarea
  width: 100%
  border: 2px solid #fff
  padding: 14px 10px
  font-family: Verdana
  color: #fff
  font-size: 14px
  line-height: 16px
  background: transparent
  +placeholder
    font-family: Verdana
    color: #fff
    font-size: 14px
    line-height: 16px
  &.blue
    border: 2px solid #3dbacf
    color: #3dbacf
    +placeholder
      color: #3dbacf
  &.gray
    border: 2px solid #6c6c6c
    color: #6c6c6c
    +placeholder
      color: #6c6c6c
  &:focus
    border: 2px solid #145fa8
    color: #145fa8
    +placeholder
      color: #145fa8


.style-form-textarea
  resize: none

.form-row
  margin-bottom: 15px

// каптча
.captcha
  max-width: 200px
  margin-left: 20px